<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>

<h1> Add deposit </h1>

		<form th:object="${deposit}" th:action="@{../savedepo/}" action="#" method="post">
			<label for="amount">Deposit amount</label> 
			<input type="text" id="amount" th:field="*{amount}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			<input type="submit" class="btn btn-success" value="Add"></input>
		</form>
 

</body>
</html>